{% extends 'base.html.twig' %}
{% block title %}postEdit{% endblock %}

{% block body %}
    <h2>Edit post</h2>
    <div class="row">
        <div class="col-6">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
                <div class="col-sm-10">
                    <br><a href="{{ path('post_page', {id: post.id}) }}">Back to post</a>
                </div>

            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}